<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.username %></h1>
<p>
  Greetings from Thoughtworks !!!
  Thought works wishes you a very Happy Birthday.
</p>
<p><img src="https://www.landolakes.com/recipe/16714/birthday-cake/"/></p>
</body>
</html>