<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome <%= @user.username %></h1>
<p>
  Thanks for registering with TW shopping !!!
</p>
<p>Please make some order.</p>
</body>
</html>